---
import Layout from "../../components/Layout.astro";
---

<Layout title="Password Reset Sent">
  <h1>Password Reset Email Sent</h1>
  <p>Please check your email to reset your password.</p>
</Layout>
