---
import Layout from "../../components/Layout.astro";
---

<Layout title="Verify Email">
  <h1>Email Verified</h1>
  <p>Your email has been successfully verified. You can now sign in.</p>
  <a href="/auth/signin">Sign In</a>
</Layout>
